<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoDI" version="4.0.2" targetFramework="net472" />
  <package id="AutoDI.Build" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="3.1.8" targetFramework="net472" />
</packages>