<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" />
  <package id="ControlzEx" version="4.3.2" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.2.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net472" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.5" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
</packages>